<template>
    <v-layout row class="align-center layout px-4 pt-4 app--page-header">
        <div class="page-header-left">
            <h3 class="pr-3">{{title}}</h3>
        </div>
        <v-breadcrumbs divider="-" :items="breadcrumbs">

        </v-breadcrumbs>
        <v-spacer></v-spacer>
        <div class="page-header-right">
            <v-btn icon>
                <v-icon class="text--secondary">refresh</v-icon>
            </v-btn>
        </div>
    </v-layout>
</template>

<script>
  import menu from '@/api/menu';

  export default {
    data () {
      return {
        title: ''
      };
    },
    computed: {
      breadcrumbs: function () {
        let that = this;
        let bc = [];
        menu.forEach(item => {
          if (item.items) {
            let child = item.items.find(i => {
              return i.component === this.$route.name;
            });
            if (child) {
              bc.push(item.title);
              bc.push(child.title);
              that.title = child.title;
            }
          } else {
            if (item.name === this.$route.name) {
              that.title = item.title;
              bc.push(item.title);
            }
          }
        });
        return bc;
      },
    }
  };
</script>
